/*
    Titre       : revision_forum | style.css
    Auteur      : Diogo Canas Almeida
    Date        : 30.08.2018
    Version     : 1.0
    Description : Feuille CSS
*/
/* Form */
#btn-placement {
    margin-top: 8px;
}